<h2>Photo</h2>

<img src="<%= @photo.image.url %>">

<p><%= @photo.caption %></p>

<p><%= link_to "Edit", edit_user_photo_path(@photo.user, @photo) %></p>
<p>Tagged:</p>
<% @photo.tags.all.each do |tag| %>
  <p><%= tag.user.email %>
    <%= link_to "- Delete", user_photo_tag_path(tag.user, @photo, tag),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"},
                         :class => "btn btn-danger btn-xs" %></p>
<% end %>


<%= form_for [@user, @photo, @tag], :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.collection_select :user_id, User.all, :id, :email %>
    <input name="tag[photo_id]" type="hidden" value="<%= @photo.id %>">
  </div>
    <%= f.submit(:class => "btn btn-primary btn-xs") %>
<% end %>
